/* =========================================
          PR5  STYLES
   ========================================= */

.profile-header {
  text-align: center;
  margin-bottom: 20px;
}

.avatar-wrapper {
  position: relative;
  width: 120px;
  height: 120px;
  margin: 0 auto 20px;
}

.avatar-img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #218080;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.btn-upload-icon {
  position: absolute;
  top: 80px;
  background: #218080;
  color: white;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 2px solid white;
  transition: 0.2s;
}

.btn-upload-icon:hover {
  transform: scale(1.1);
  background: #1a6b6a;
}
.input {
  font-weight: bold;
  padding: 5px 0px;
  margin-top: 15px;
}
.readonly-field {
  background: #f0f2f5;
  color: #666;
  cursor: not-allowed;
}

#file-input {
  display: none;
}
